body
{
    background-image: url("background_red.jpg");
    margin: 0 ;
}

h1 
{
    color:  #adb5bd;
    font-size : 3em ;
    font-family : "arial black", impact, arial, sans-serif;
    font-style : italic;
    text-decoration : underline;
    text-align : center;
    text-shadow : 5px 5px 5px black ;
    width : auto ;
}
 
aside
{
    border: solid 2px whitesmoke;
    border-radius: 10px;
}


.box 
{
    display: flex ;
    width: auto;
    justify-content: center;
}


.image
{
    box-shadow: 5px 5px 8px 5px black ;
    width: auto ;
    margin: auto 15px ;
    display:block;
    height:113px;
}

.texte
{
    color: white;
    font-family: "trebuchet ms", georgia, "Times New Roman", sans-serif  ; 
    font-size: 1.2em;
    text-align: left;
    text-shadow: 5px 5px 5px 5px white ;
    margin: 0;
    padding-left: 40%;
    
}

.coordonnees
{
    font-family: "trebuchet ms", georgia, "Times New Roman", sans-serif  ; 
    font-size: 1.2em;
    text-align: left;
    text-shadow: 5px 5px 5px 5px white ;
    padding-right: 0%;
}

.puce
{
    font-family: "trebuchet ms", georgia, "Times New Roman", sans-serif  ; 
    font-size: 1.2em;
    text-align: left;
    padding-left: 35%;
    margin: 0% ;
    color: #fafaff;
    font-style: oblique;
    font-weight: bold;
    
}


h2
{
    color: #adb5bd ;
    font-size: 1.7em;
    font-family: "arial black", impact, arial, sans-serif;
    font-style: italic ;
    text-decoration: underline;
    text-align: center;
    text-shadow: 3px 3px 3px black ;
    width: auto ;
}

h3
{
    color:  #adb5bd;
    font-size: 1.3em;
    font-family: "arial black", impact, arial, sans-serif;
    font-style: italic ;
    text-decoration: underline;
    text-align: center;
    text-shadow: 3px 3px 3px black ;
}

.mail
{
    color:  #00b4d8
}